{% extends "base.html" %}

{% block title %}Войти{% endblock %}

{% block content %}
	<h1>Войти</h1>
	{% if form.errors %}
		<p>
		Ваш логин или пароль не верный. Попробуйте еще раз.
		</p>
	{% else %}
		<p>
			Пожалуйста, заполните форму для входа. <br>
			Если у вас нет аккаунта
			<a href="{% url 'register' %}">зарегистрируйтесь тут</a>
		</p>
	{% endif %}
	<div class="login-form">
		<form action="{% url 'login' %}" method="post">
			{{ form.as_p }}
			{% csrf_token %}
			<input type="hidden" name="next" value="{{ next }}" />
			<p><input type="submit" value="Log-in"></p>
		</form>
	<p>
		<a href="{% url "password_reset" %}">
			Забыли пароль?
		</a>
	</p>
	</div>
{% endblock %}