{% extends "base.html" %}
{% load thumbnail %}
{% load static %}

{% block title %}Пользователи{% endblock %}

{% block content %}
	<h1>Пользователи</h1>
	<div id="people-list">
		{% for user in users %}
			<div class="user">
			{% if user.profile.photo %}
				<a href="{{ user.get_absolute_url }}">
					<img src="{% thumbnail user.profile.photo 180x180 %}">
				</a>
			{% else %}
				<img src="{% static 'default_user.jpg' %}">
			{% endif %}
				<div class="info">
					<a href="{{ user.get_absolute_url }}" class="title">
						{{ user.get_full_name }}
					</a>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}